* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 1200px;
  margin: auto;
}
main {
  background-color: black;
  color: white;
}
header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  /* background-image: url("./assets/images/image-profile-desktop.webp");*/
}
header p {
  font-size: 24px;
}
.heading {
  width: 65%;
  padding-left: 20px;
}
h1 {
  font-size: 90px;
}
.heading p {
  width: 45%;
  margin-top: 60px;
  font-size: 20px;
}
.heading h5 {
  margin-top: 60px;
  text-transform: uppercase;
  text-decoration: underline;
}
.heading hr {
  margin-top: 60px;
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
}
.programs {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("./assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position: 950px;
}
.projects-header {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.projects-header h5 {
  text-transform: uppercase;
  text-decoration: underline;
}
.projects {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
}
.project img {
  width: 560px;
}
.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #979797;
  color: white;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("./assets/images/pattern-rings.svg");
  background-repeat: no-repeat;
  background-position-x: -250px;
  background-position-y: 250px;
}
.contact-text {
  width: 30%;
}
.contact-form {
  width: 40%;
  text-transform: uppercase;
}
.contact-form h4 {
  padding: 40px 40px 40px 0;
}
.contact-form h5 {
  margin-top: 40px;
  text-decoration: underline;
  text-align: right;
  padding-bottom: 60px;
}
.line {
  background-color: #979797;
}
.line hr {
  width: 1160px;
  margin: auto;
}
footer {
  background-color: #979797;
  color: white;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
footer p {
  font-size: 24px;
}
